/* line 1, ../../../app/assets/stylesheets/data_tables.sass */
.dataTables_length {
  width: 40%;
  float: left;
}
/* line 4, ../../../app/assets/stylesheets/data_tables.sass */
.dataTables_length label {
  width: 250px;
  margin: 0;
  text-align: left;
}

/* line 9, ../../../app/assets/stylesheets/data_tables.sass */
.dataTables_filter {
  width: 50%;
  float: right;
  text-align: right;
}
/* line 13, ../../../app/assets/stylesheets/data_tables.sass */
.dataTables_filter label {
  width: 250px;
  margin: 0;
  float: right;
}
/* line 17, ../../../app/assets/stylesheets/data_tables.sass */
.dataTables_filter input {
  border: 1px solid #999999;
}

/* line 20, ../../../app/assets/stylesheets/data_tables.sass */
.dataTables_info {
  margin-top: 5px;
  width: 60%;
  float: left;
}

/* line 25, ../../../app/assets/stylesheets/data_tables.sass */
.dataTables_paginate {
  margin: 4px 0 20px 0;
  text-align: right;
}
/* line 29, ../../../app/assets/stylesheets/data_tables.sass */
.dataTables_paginate span .paginate_active, .dataTables_paginate span .paginate_button {
  font-size: 11px;
  border-radius: 0;
  margin: 0 5px;
}

/* line 34, ../../../app/assets/stylesheets/data_tables.sass */
.paging_full_numbers span.paginate_button {
  font-size: 11px;
  border-radius: 0;
  margin: 0 5px;
  width: 400px;
  height: 22px;
  line-height: 22px;
}

/* line 42, ../../../app/assets/stylesheets/data_tables.sass */
.paging_full_numbers span.paginate_button, .paging_full_numbers span.paginate_active {
  border: 1px solid #aaaaaa;
  padding: 2px 5px;
  margin: 0 3px;
  cursor: pointer;
  *cursor: hand;
}

/* line 49, ../../../app/assets/stylesheets/data_tables.sass */
.paging_full_numbers span.paginate_button {
  background-color: #dddddd;
}

/* line 52, ../../../app/assets/stylesheets/data_tables.sass */
.paging_full_numbers span.paginate_button:hover {
  background-color: #cccccc;
}

/* line 55, ../../../app/assets/stylesheets/data_tables.sass */
.paging_full_numbers span.paginate_active {
  background-color: #99b3ff;
}

/* line 58, ../../../app/assets/stylesheets/data_tables.sass */
.sorting_asc {
  background: url(/images/data_tables/sort_asc.jpg) no-repeat center right;
}

/* line 61, ../../../app/assets/stylesheets/data_tables.sass */
.sorting_desc {
  background: url(/images/data_tables/sort_desc.jpg) no-repeat center right;
}

/* line 64, ../../../app/assets/stylesheets/data_tables.sass */
.sorting {
  background: url(/images/data_tables/sort_both.jpg) no-repeat center right;
}

/* line 67, ../../../app/assets/stylesheets/data_tables.sass */
.sorting_asc_disabled {
  background: url(/images/data_tables/sort_asc_disabled.jpg) no-repeat center right;
}

/* line 70, ../../../app/assets/stylesheets/data_tables.sass */
.sorting_desc_disabled {
  background: url(/images/data_tables/sort_desc_disabled.jpg) no-repeat center right;
}

/* line 73, ../../../app/assets/stylesheets/data_tables.sass */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
  height: 19px;
  width: 19px;
  margin-left: 3px;
  float: left;
}

/* line 79, ../../../app/assets/stylesheets/data_tables.sass */
.paginate_disabled_previous {
  background-image: url(/images/data_tables/images/back_disabled.jpg);
}

/* line 82, ../../../app/assets/stylesheets/data_tables.sass */
.paginate_enabled_previous {
  background-image: url(/images/data_tables/back_enabled.jpg);
}

/* line 85, ../../../app/assets/stylesheets/data_tables.sass */
.paginate_disabled_next {
  background-image: url(/images/data_tables/forward_disabled.jpg);
}

/* line 88, ../../../app/assets/stylesheets/data_tables.sass */
.paginate_enabled_next {
  background-image: url(/images/data_tables/forward_enabled.jpg);
}

/* line 91, ../../../app/assets/stylesheets/data_tables.sass */
.dataTables_wrapper {
  margin-top: 20px;
}
/* line 93, ../../../app/assets/stylesheets/data_tables.sass */
.dataTables_wrapper table {
  width: 100%;
}
/* line 96, ../../../app/assets/stylesheets/data_tables.sass */
.dataTables_wrapper table thead th {
  background-color: #ededed;
  border-bottom: 1px solid #cccccc;
  font-weight: bold;
  height: 30px;
  padding-left: 2px;
  padding-right: 17px;
}
/* line 104, ../../../app/assets/stylesheets/data_tables.sass */
.dataTables_wrapper table tbody tr td {
  padding: 10px;
}

/* line 107, ../../../app/assets/stylesheets/data_tables.sass */
tr.odd {
  background-color: #fcfcfc;
  border-bottom: 1px solid #cccccc;
  border-collapse: collapse;
}
/* line 111, ../../../app/assets/stylesheets/data_tables.sass */
tr.odd td.sorting_1 {
  background-color: #fcfcfc;
}
/* line 113, ../../../app/assets/stylesheets/data_tables.sass */
tr.odd td.sorting_2 {
  background-color: #fcfcfc;
}
/* line 115, ../../../app/assets/stylesheets/data_tables.sass */
tr.odd td.sorting_3 {
  background-color: #fcfcfc;
}

/* line 118, ../../../app/assets/stylesheets/data_tables.sass */
tr.even {
  background-color: #f4f4f4;
  border-bottom: 1px solid #cccccc;
  border-collapse: collapse;
}
/* line 122, ../../../app/assets/stylesheets/data_tables.sass */
tr.even td.sorting_1 {
  background-color: #f4f4f4;
}
/* line 124, ../../../app/assets/stylesheets/data_tables.sass */
tr.even td.sorting_2 {
  background-color: #f4f4f4;
}
/* line 126, ../../../app/assets/stylesheets/data_tables.sass */
tr.even td.sorting_3 {
  background-color: #f4f4f4;
}
